@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color: #f5f6f6;
  --dark-color: #15141d;
  --accent-color: #3af062;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --light-color: #15141d;
    --dark-color: #f5f6f6;
    --accent-color: #3af062;
  }
} */

body {
  background: var(--light-color);
  color: var(--dark-color);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  @apply transition duration-300 ease-in-out scroll-smooth;
}

h1::selection,
p::selection,
h2::selection,
h3::selection,
h4::selection,
a::selection,
span::selection {
  color: #3af062;
  background: transparent;
}

@layer components {
  .bg-accent {
    background: var(--accent-color);
    color: var(--dark-color);
  }

  .bg-dark {
    background: var(--dark-color);
    color: var(--light-color);
  }

  .accent {
    color: var(--accent-color);
  }

  @media only screen and (min-width: 600px) {
    h1,
    h2 {
      letter-spacing: -2px;
      word-spacing: -8px;
    }
  }

  h1 {
    font-family: "IBM Plex Mono";
    @apply text-[2rem] leading-[2.5rem] lg:text-[3.5rem] lg:leading-[4rem] font-bold;
  }

  .space {
    letter-spacing: 2px;
  }

  p {
    @apply text-sm lg:text-base;
  }

  h2 {
    font-family: "IBM Plex Mono";
    @apply text-[1.5rem] leading-[1.5rem] lg:text-[1.5rem] lg:leading-[1.5rem] font-bold;
  }

  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
    @apply text-[1.2rem] leading-[1.5rem] lg:text-[2rem] lg:leading-[2.5rem];
  }

  button {
    @apply flex items-center justify-center border border-transparent rounded-xl hover:border-black bg-accent gap-x-1 hover:bg-transparent;
    /* padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important; */
  }

  input {
    @apply flex items-center justify-center px-4 py-2 border rounded-xl hover:border-black gap-x-1 hover:bg-transparent;
  }

  section {
    @apply w-full h-full min-h-[20vh];
  }

  .wallet-button,
  .ant-btn,
  wallet-connect-button {
    color: #f5f6f6;
    background: #15141d !important;
    border: 0 !important;
    @apply w-full px-4 py-2 lg:w-fit rounded-2xl hover:text-white;
  }

  .brand h2 {
    @apply scale-100 hover:scale-105;
  }

  .select li {
    @apply cursor-pointer;
  }
}
