@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text: #000;
  --background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text: #fff;
    --background: #000;
  }
}

body {
  color: var(--primary-text);
  background: var(--background);
}
