@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text: #000;
  --background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text: #fff;
    --background: #000;
  }
}

body {
  color: var(--primary-text);
  background: var(--background);
}

@layer components {
  main {
    @apply flex min-h-screen flex-col items-center justify-between px-10 py-24 gap-24 lg:p-10 overflow-hidden;
  }
  nav ul {
    @apply flex justify-between items-center gap-1;
  }
  ul li {
    @apply dark:bg-transparent hover:bg-gray-800 hover:text-white px-2 py-1 rounded-lg transition-colors motion-reduce:transform-none;
  }
  button,
  select,
  option,
  input,
  #badge-class {
    @apply transition-colors motion-reduce:transform-none dark:bg-gray-900;
  }

}
